:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #cacaca;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  min-width: 570px;
  z-index: 0;
  overflow: hidden;
}
html{
  min-width: 600px;
}
p {
  font-size: 15px;
}


input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em; 
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0.5em 0 0.5em 0.5em ;
}
td input, td button {
  margin: 0;
}

button {
  cursor: pointer;
}
button:hover, input:focus-visible {
  border-color: #009fe3;
}
button:active {
  border-color: #009fe3;
  background-color: #e8e8e8;
}
.button-wrapper {
  display: flex;
  justify-content: right;
  width: 95%;
  margin: 0;
}

a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: block;
}

.container {
  margin-bottom: 10px;
  padding: 0 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;  
  border: #67777e 1px solid;
  width: 95%;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  margin-bottom: 10px;
  padding: 10px 10px 5px 10px;
}

a:link, a:visited {
  color: #0f0f0f;                   
}

/*#region NAVBAR */
.head {
  padding: 0;
  margin: 0;
  font-size: 1em;
  overflow-y: hidden;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0 20px ;
  width: 100%;
}
#ul-home {
  float: left;
}
#ul-titlebar {
  float:right;
  margin-right: 10px;
}
.nav-item {
  display: inline-block;
  text-align: center;
  margin: 5px 0;
  height: inherit;
}
#titlebar-help a {
  padding-left: 0;
}

nav ul li a {
  padding: 5px;
  /* font-size: large; */
  display: block;
  text-decoration: none;
}
.dropdown-list li a i {
  width: 25px;
}
.dropdown-list li {
  width: 100%;
  text-align: left;
  display: block;
}
.dropdown-list {
  display: none;
  position: absolute;
  list-style: none;
  background: #98abb3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 8px;
  z-index: 10;
  width: auto;
}
.dropdown-list li a {
  display: block;
  width: auto;
}
nav ul #titlebar-settings:hover ul {
  display: block;
}

nav a:hover {
  background: #e8e8e8;
  border-radius: 5px;
}
nav a:active {
  background: #ffffff;
}
nav ul {
  display: inline-block;
}
.nav-button {
  float:right;
  
}
#server-status * {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#server-status i {
  margin-right: 5px;
}
#server-status {
  float: right;
}
.nav-item i {
  height: 20px;
  width: 20px;
}
#titlebar-save i {
  color: #55a0fc;
  margin-right: 5px;
}
#titlebar-load i {
  color: #fae162;
  margin-right: 5px;
}
#titlebar-settings i {
  color: #8b8b8b;
}
/*#endregion NAVBAR*/

#status-container {
  background-color: rgba(255, 217, 0, 0.7); 
  border-color:#0f0f0f;         
}
#close-status {
  position: relative;
  width: auto;
  float: right;
  margin-top: 5px;
  padding: 5px 10px;
}
#close-status:hover {
  cursor: pointer;
  background: rgba(220, 220, 220, .4);
  border-radius: 8px;
}
#status-content {
  margin: 10px;
}
#status-content p {
  margin: 0;
}
#status-content input {
  margin-right: 5px;
  width: 300px;
}
#input-year {
  width:23vh;
  margin-right:0;
}

/*#region AUTOCREATE-TABLE */
table {
  align-content: center;
  border-collapse: separate;
  min-width: 500px;
  width: 95%;
  max-width: 95%;
  box-shadow: 0 0 20px rgba(20, 20, 20, .2);
  border-spacing: 0;
  display: block;
  max-height: 600px;
  overflow-y: auto;
}

#autocreate-table tr:nth-child(even) {
  background: #cacaca; 
  border-bottom: none;
}
#autocreate-table thead  {
  text-align: center;
}
#autocreate-table thead tr  {
  background: #67777e;
}

#autocreate-table thead tr th {
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;  
  background: #67777e;
}

.donator-autocreate-tr {
  text-align:left;
}
.donator-autocreate-tr td{
  padding: 5px 10px;
  text-align: center;
}
.donation-autocreate-tr td {
  padding: 0;
}
.donation-table {
  box-shadow: -5px 0 5px rgba(20, 20, 20, .2);
  width: 100%;
  border-radius: 0;
}
.donation-table tr {
  width: 100%;
}
.donation-table td {
  padding: 5px 15px;
}
.donation-table tbody tr th {
  padding: 5px 10px
}

/* #endregion AUTOCREATE-TABLE */

/*#region FOOTER */
footer {
  position: absolute;
  bottom: 0;
}
footer p {
  margin: 5px;
  font-size: 10px;
  color: #0f0f0f;
}
footer p a {
  display: inline;
}
#link-mail:link, #link-mail:visited {
  color: #009fe3;
}
/* #endregion FOOTER */

.align-center {
  text-align: center;
}
.inline {
  display: inline-block;
}

.hide-element {
  display: none;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: white;
  }

  a:link, a:visited {
    color: rgb(218, 218, 218);
  }

  input,
  button{
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
  /* .nav-item, .nav-item i {
    color: #f6f6f6;
  } */
  /* #titlebar-save i {
    color: #4d8edc;
  }
  #titlebar-load i {
    color: #dbc44d;
  } */
  .dropdown-list {
    background: rgb(56, 56, 56);
  }
  nav a:hover {
    background: rgba(107, 107, 107, 0.8);
  }
  nav a:active {
    background:rgba(220, 220, 220, .8);
  }

  #status-container {
    background-color: rgba(214, 182, 0, 0.4);
  }

  table td {
    border-bottom: thin solid rgb(100, 100, 100);
  }
  table tr {
    background: rgb(58, 58, 58);
  }

  #autocreate-table tr:nth-child(even) {
    background: rgb(45,45,45); 
  }

  footer p {
    color: rgb(170, 170, 170);
  }
}